.header-img {
    width: 100vw;
    background-color: #688b96;
}

#theauthor {
    background-color: #688b96;
    color: white;
}

#novels {
    background-color: #e4a200;
    color: white;
}

#events {
    background-color: #688b96;
    color: white;
}

#contact {
    background-color: #e4a200;
    color: white;
}


